<div class="container">
  <h1>Palindrome Form</h1>
  <div class="form-group">
    <label for="words">Words</label>
    <input type="text" class="form-control" id="words" [(ngModel)]="words" name="words">

    <button class="btn btn-success" (click)="checkPalindrome(words)">Check Palindrome</button>
    <span class="label label-default" style="margin-left: 15px">{{result}}</span>
  </div>
</div>